[Unit]
Description=Home Assistant
After=network.target

[Service]
Type=notify
User=@HOMEASSISTANT_USER@
ExecStart=/usr/bin/hass --skip-pip -c "@HOMEASSISTANT_CONFIG_DIR@" --systemd-notify
Restart=on-failure

[Install]
WantedBy=multi-user.target
